.password-field {
  position: relative;
  display: flex;
}

.password-field input {
  width: 100%;
  padding-right: 40px !important;
}

.password-toggle-btn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  color: var(--text-secondary);
}

.password-toggle-btn:hover {
  color: var(--accent);
}
